<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">E-Commerce</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/landing-page"
            routerLinkActive="router-link-active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/shop"
            routerLinkActive="router-link-active"
            >Shop</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/cart"
            routerLinkActive="router-link-active"
            >Cart</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/wish-list"
            routerLinkActive="router-link-active"
            >Wish List</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/order"
            routerLinkActive="router-link-active"
            >My Orders</a
          >
        </li>
      </ul>
      <div class="d-flex" role="search">
        <a 
          class="btn btn-outline-primary" 
          *ngIf="!isLoggedIn" 
          routerLink="/auth/sign-in" 
          aria-label="Sign In"
        >
          Sign In
        </a>
        <button 
          class="btn btn-outline-danger" 
          *ngIf="isLoggedIn" 
          type="button"
          (click)="logOut()" 
          aria-label="Log Out"
          id="liveToastBtn"
        >
          Log Out
        </button>
      </div>
    </div>
  </div>
</nav>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Alert</strong>
      <small>1 min ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      You Log out succsuflly 
    </div>
  </div>
</div>
