<div class="checkout-container">
  <!-- Order Summary Table -->
  <div class="order-summary mt-4">
    <h2>Order Summary</h2>
    <table class="table table-bordered table-hover">
      <thead class="thead-dark text-center">
        <tr>
          <th>Product Name</th>
          <th>Color</th>
          <th>Size</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of modifiedArray" class="text-center">
          <td><a [routerLink]="['/product-details', item.item.productId]">{{ item.item.productName }}</a></td>
          <td>{{ item.item.color }}</td>
          <td>{{ item.item.size }}</td>
          <td>{{ item.item.productPrice | currency : 'EGP' }}</td>
          <td>{{ item.item.quantity }}</td>
          <td>{{ item.total | currency : 'EGP' }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="5" class="text-right">Total:</th>
          <th class="text-center">{{ orderTotal | currency : 'EGP' }}</th>
        </tr>
      </tfoot>
    </table>
  </div>

  <!-- Shipping Address Section -->
  <div class="shipping-address">
    <h2>Select Shipping Address</h2>
    <div class="address-list">
      <div class="address-item" *ngFor="let address of shippingAddresses">
        <input type="radio" id="address-{{ address.id }}" name="shippingAddress" [value]="address" [(ngModel)]="selectedAddress">
        <label for="address-{{ address.id }}">
          {{ address.addressLine }}, {{ address.city }}, {{ address.state }}<br>
          {{ address.country }}
        </label>
      </div>
    </div>
    <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="fas fa-plus-circle"></i> Add New Address
    </button>
  </div>

  <!-- Place Order Button -->
  <div class="place-order">
    <button class="btn btn-success btn-lg" [disabled]="!selectedAddress"
    (click)="placeOrder()"
    >
      <i class="fas fa-check-circle"></i> Place Order
    </button>
  </div>

  <!-- Modal for Adding New Address -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Address</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-get-address></app-get-address>
        </div>
      </div>
    </div>
  </div>
</div>
